.gc-accordion {
  background: #3660AA;
  border-radius: 1vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: fit-content;

  .gc-accordion-header {
    width: 100%;
    height: 3vw;
    min-height: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .arrow {
      margin-left: 1%;
      width: 1vw;
      height: 1vw;
      background: url("../../../../assets/images/admin/arrow.svg") no-repeat center;
      background-size: contain;

      &.open {
        transform: rotate(90deg);
      }
    }

    .label {
      margin-left: 1%;
      font-size: 1vw;
    }
  }
}
