@import "../../utils/utils";

.splash-screen {
  @extend .base-screen;

  .logo {
    position: absolute;
    background: no-repeat center;
    background-size: contain;
    width: 60%;
    height: 50%;
    left: 20%;
    top: -50%;
    animation: logo-show 2s forwards, logo-tween 5s 2s infinite;
  }

  @keyframes logo-show {
    from {
      top: -50%;
    }
    to {
      top: 40%;
    }
  }

  @keyframes logo-tween {
    0% {
      top: 40%;
    }
    50% {
      top: 10%;
    }
    100% {
      top: 40%;
    }
  }
}
