.gc-color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;

  .label {
    margin-right: 1vw;
    font-size: 1vw;
  }

  .color-picker {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    border-radius: 0.5vw;
    border: white solid 0.1vw;
  }
}
