.gc-question-set {
  width: 90%;
  display: flex;
  flex-direction: column;

  button {
    cursor: pointer;
  }

  .gc-question-set-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3vw;
    background: #3660aa;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 0.5vw;
    align-items: center;
    opacity: 0;
    animation: tween-show 0.2s forwards;

    .arrow {
      position: absolute;
      left: 0.3vw;
      width: 1vw;
      height: 1vw;
      background: url('../../../../../../assets/images/admin/arrow.svg')
        no-repeat center;
      background-size: contain;

      &.open {
        transform: rotate(90deg);
      }
    }

    .gc-question-badge {
      cursor: pointer;
    }

    .label {
      margin-left: 2%;
      width: 25%;
    }

    .info {
      display: flex;
      width: 75%;
      height: 100%;

      &.countdown {
        .timer {
          position: relative;
          display: inline-block;
          opacity: 0.5;
          top: 20%;
          height: 50%;
          margin-right: 3vw;

          &.active {
            opacity: 1;
          }
        }
      }

      .controls {
        display: flex;
        height: 100%;

        &.active {
          opacity: 1;
          pointer-events: initial;
        }

        .toggle-countdown {
          position: relative;
          top: 12.5%;
          border: none;
          background-color: whitesmoke;
          height: 75%;
          border-radius: 25px;
          color: #4a77c6;
          font-family: 'Gotham Black', serif;
          margin-right: 1vw;

          &.started {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }

      &.date-range {
        .date-range {
          margin: auto 0;
          margin-right: 5%;
        }
      }

      &.manual {
        .timer {
          position: relative;
          display: inline-block;
          top: 20%;
          height: 50%;
          margin-right: 3vw;
        }

        .controls {
          display: inline-block;
          height: 100%;
          width: 12vw;

          .start {
            position: relative;
            top: 12.5%;
            border: none;
            background-color: whitesmoke;
            height: 75%;
            width: calc(50% - 0.5vw);
            border-radius: 25px;
            color: #4a77c6;
            font-family: 'Gotham Black', serif;
            margin-right: 1vw;
            font-size: 1vw;

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }
          }

          .stop {
            position: relative;
            top: 12.5%;
            border: none;
            background-color: #ff0000;
            height: 75%;
            width: calc(50% - 0.5vw);
            border-radius: 25px;
            color: whitesmoke;
            font-family: 'Gotham Black', serif;
            font-size: 1vw;

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }
          }
        }

        .answers {
          border: none;
          background-color: whitesmoke;
          height: 75%;
          width: calc(50% - 0.5vw);
          border-radius: 25px;
          color: #4a77c6;
          font-family: 'Gotham Black', serif;
          margin: auto 1vw;
          font-size: 1vw;
        }
      }
    }

    .button {
      cursor: pointer;
      width: 5%;
      height: 50%;
      margin-top: 0.1%;

      &:active {
        transform: scale(0.9);
      }
    }

    .group-timer {
      display: flex;
      flex-direction: row;
      height: 70%;
      align-items: center;
      margin-right: 5%;
      width: 10vw;

      .icon-timer {
        background: url('../../../../../../assets/images/admin/icon-timer.svg')
          no-repeat center;
        background-size: contain;
        width: 5vw;
        height: 100%;
      }

      span {
        width: 10vw;
      }
    }

    .button-edit {
      @extend .button;
      background: url('../../../../../../assets/images/admin/edit.svg')
        no-repeat center;
      background-size: contain;
    }

    .button-menu {
      @extend .button;
      background: url('../../../../../../assets/images/admin/menu.svg')
        no-repeat center;
      background-size: contain;
    }

    .button-remove {
      @extend .button;
      background: url('../../../../../../assets/images/admin/remove.svg')
        no-repeat center;
      background-size: contain;
    }

    @keyframes tween-show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .group-arrows {
      height: 100%;
      width: 4vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .base-arrow {
        width: 0;
        height: 0;
        cursor: pointer;

        &:active {
          transform: scale(0.9);
        }
      }

      .arrow-up {
        @extend .base-arrow;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-bottom: 1vw solid white;
        margin-bottom: 0.3vw;
      }

      .arrow-down {
        @extend .base-arrow;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-top: 1vw solid white;
      }
    }
  }

  .group-questions {
    width: 90%;
    margin-left: 10%;
  }
}
