.gc-question-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 4vw;
  height: 100%;
  border-radius: 0.5vw;
  user-select: none;
  font-size: 1vw;
}
